.App {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.loginHeader > span {
  color: blue;
  font-size: small;
  margin-left: 10px;
  text-decoration: underline;
}

.errorText {
  color: red;
}

.connectionsContainer {
  width: 26%;
  border-right: 1px solid #475051;
  padding: 5px;
}

.connectionsContainer > div:hover {
  border-bottom: 1px solid aquamarine;
}
